@import 'utils';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	overflow: hidden;
	background-color: #000;
	color: #eee;
	font-family: monospace;
}

.fade {
	transition: opacity 0.25s ease-in-out;
}

#logo {
	line-height: 1.5;

	@include centre();
}

#ascii-cam {
	opacity: 0;
	pre {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		margin: 0;
		width: 100vw;
		height: 100vh;
		line-height: 0.6;

		user-select: none;
		mix-blend-mode: screen;
		@include responsive-font(2vh, 1em, 1.2em, 1.2em);
	}

	#r-output {
		color: #f00;
	}

	#g-output {
		color: #0f0;
	}

	#b-output {
		color: #00f;
	}

	#title {
		z-index: 10;
		margin: 0;
		color: #000;
		text-align: center;
		white-space: nowrap;
		font-family: sans-serif;

		@include centre();
		@include responsive-font(11vh, 4em, 8em, 2em);
		a {
			color: black;
			text-decoration: none;
			&:hover {
				color: #fff;
				filter: blur(5px);
			}
		}
		&:hover {
			& + .layers pre {
				color: #eee;
			}
		}
	}
}

#video,
#canvas {
	display: none;
}
